body {
    padding: 8%;
    font-family: verdana;
    text-align: center;
    margin-top: 1%;
    line-height: 30px;
    background-color:#fff;
}
.imgcenter {
    margin: auto;
    padding-top: 3%;
    width: 320px;
}
